@import url("https://db.onlinewebfonts.com/c/ead4092f880f75ff0883ced1856b2c37?family=SF+Pro+Rounded+Regular");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: 1%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffff;
  max-width: 100%;
  overflow-x: hidden;
}

#background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-primary {
  justify-content: center;
  align-items: center;
  padding: 16px 40px 16px 40px;
  gap: 10px;
  background: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
  border-radius: 8px;
  border: none;
}

h4 {
  background: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Crimson Text", serif;
  font-weight: 700;
}

/* Documentation */
#doc-one {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    ),
    url(../img/doc-one.png);
  height: auto;
  background-size: cover;
  color: white;
  padding: 20px;
  padding-top: 112px;
}

#doc-two {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    ),
    url(../img/doc-two.png);
  width: 100%;
  height: auto;
  background-size: cover;
  color: white;
  padding: 20px;
}

#doc-three {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    ),
    url(../img/doc-three.png);
  width: 100%;
  height: auto;
  background-size: cover;
  color: white;
  padding: 20px;
}

#doc-four {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    ),
    url(../img/doc-four.png);
  width: 100%;
  height: auto;
  background-size: cover;
  color: white;
  padding: 20px;
}

.text-doc {
  margin-top: 146px;
}

#doc-four .text-doc {
  margin-top: 126px;
}

#documentation .btn-primary {
  justify-content: center;
  align-items: center;
  padding: 16px 40px 16px 40px;
  gap: 10px;
  background: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
  border-radius: 8px;
  border: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}

#documentation .btn-secondary {
  justify-content: center;
  align-items: center;
  padding: 16px 40px 16px 40px;
  gap: 10px;
  background: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
  border-radius: 8px;
  border-image-source: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
  border-width: 2px;
  border-image-slice: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Testimony */
.slider-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

a {
  text-decoration: none;
}

input {
  display: none;
}

.cards {
  position: relative;
  height: 500px;
  width: 430px;
  margin-bottom: 60px;
  perspective: 90000px;
  transform-style: preserve-3d;
}

.cards label {
  position: absolute;
  width: 430px;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.55s ease;
}

.cards .card {
  position: relative;
  background-color: #000;
  border-radius: 15px;
  padding: 56px;
  height: auto;
  border: 2px;
  border-style: solid;
  border-color: var(--current-color1);
}

.card .image {
  width: 72px;
  height: 72px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
}

.card .image img {
  border-radius: 5px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
  margin-top: 23px;
  width: 86%;
  object-fit: cover;
}

.card .infos {
  display: block;
  text-align: start;
  padding-top: 60px;
}

.infos span {
  display: block;
}

.infos p {
  color: #ffff;
  font-size: 16px;
  line-height: 1.9;
}
.infos h5 {
  font-size: 14px;
  letter-spacing: 5px;
  margin: 7px 0;
  background: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-person {
  height: 160px;
  width: 106px;
  position: absolute;
  top: 222px;
  right: 32px;
}

#s1:checked ~ .cards #slide4,
#s2:checked ~ .cards #slide5,
#s3:checked ~ .cards #slide1,
#s4:checked ~ .cards #slide2,
#s5:checked ~ .cards #slide3 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-70%, 0, -220px);
  --current-color1: #0000;
  --current-color2: #404457;
}

#s1:checked ~ .cards #slide5,
#s2:checked ~ .cards #slide1,
#s3:checked ~ .cards #slide2,
#s4:checked ~ .cards #slide3,
#s5:checked ~ .cards #slide4 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-35%, 0, -120px);
  --current-color1: #0000;
  --current-color2: #404457;
}

#s1:checked ~ .cards #slide1,
#s2:checked ~ .cards #slide2,
#s3:checked ~ .cards #slide3,
#s4:checked ~ .cards #slide4,
#s5:checked ~ .cards #slide5 {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
  transform: translate3d(0, 0, 0);
  --current-color1: #ffff;
  --current-color2: #0000;
}

#s1:checked ~ .cards #slide2,
#s2:checked ~ .cards #slide3,
#s3:checked ~ .cards #slide4,
#s4:checked ~ .cards #slide5,
#s5:checked ~ .cards #slide1 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(35%, 0, -120px);
  --current-color1: #0000;
  --current-color2: #404457;
}

#s1:checked ~ .cards #slide3,
#s2:checked ~ .cards #slide4,
#s3:checked ~ .cards #slide5,
#s4:checked ~ .cards #slide1,
#s5:checked ~ .cards #slide2 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(70%, 0, -220px);
  --current-color1: #0000;
  --current-color2: #404457;
}

/* Contant */
#contact div {
  margin-bottom: 25px;
}

.form-group [type="text"] {
  border-image-source: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
  border-width: 2px;
  border-image-slice: 1;
  background: black;
  color: #636363;
  border-radius: 8px;
}

.form-label {
  font-family: "Crimson Text", serif;
}

.has-float-label label::after,
.has-float-label > span::after {
  background: black !important;
}

.form-control:focus {
  background-color: black !important;
}

#contact .btn-primary {
  justify-content: center;
  align-items: center;
  padding: 16px 40px 16px 40px;
  gap: 10px;
  background: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
  border-radius: 8px;
  border: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}
#last-footer p {
  font-size: 12px;
}

#last-footer span {
  font-size: 12px;
  background: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#last-footer {
  border-top: 2px solid;
  border-image: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
  border-image-slice: 1;
}

/* Responsive tablet */
@media screen and (max-width: 768px) {
  #doc-one {
    display: none;
  }
  #doc-two {
    display: none;
  }
}

/* Responsive */
@media screen and (max-width: 1199px) {
  #doc-two .text-doc {
    margin-top: 122px;
  }
}

/* Responsive */
@media screen and (max-width: 991px) {
  #doc-four .text-doc {
    margin-top: 148px;
  }
}

/* body end */

/* navbar start */
.topnav {
  background: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
  align-items: center;
  display: flex;
  justify-content: center;
  height: 80px;
}

.topnav a:nth-child(9) {
  justify-content: start;
}

.topnav a:nth-child(4) {
  margin-right: 50px;
}
.topnav a:nth-child(6) {
  margin-left: 50px;
}

.topnav .responsive-logo {
  display: none;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  font-family: "Satoshi", sans-serif;
}

.topnav .icon {
  background-color: black;
  margin-top: 10px;
  padding: 5px 8px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
}

.topnav .icon i {
  background: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topnav .close-icon {
  display: none;
}

.topnav a.active {
  position: relative;
  display: inline-block;
}

.topnav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: -25px auto;
  width: 20px;
  height: 3px;
  background: black;
}

#nav-logo {
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
}

.topnav .icon {
  display: none;
}
/* navbar end */

/* hero start */
#hero .container .row h5 {
  font-family: "Crimson Text", serif;
  font-size: 32px;
  font-weight: 700;
  background: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero .container .row h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 60px;
  font-weight: 700;
}
#hero .container .row p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
#hero .container .row button {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  background-color: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
}
#hero .container .row a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 5px;
  background: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#hero2 img {
  width: 450px;
  height: auto;
  margin-left: -200px;
}
/* hero end */

/* about us start */
.about-title h5 {
  font-family: "Crimson Text", serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-title h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
#about .container .row p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
/* about us end */

/* responsif tablet start */
@media screen and (max-width: 991px) {
  /* navbar start */
  .topnav {
    justify-content: left;
    display: block;
    position: relative;
  }
  .topnav a:not(:last-child) {
    display: none;
  }
  .topnav a:nth-child(5) {
    display: block;
  }

  .topnav a:nth-child(4) {
    margin-right: 0;
  }
  .topnav a:nth-child(6) {
    margin-left: 0;
  }

  .topnav a.icon {
    float: left;
    display: block;
  }
  .topnav.responsive {
    position: relative;
    background-color: black;
    height: 90%;
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-timing-function: cubic-bezier(0.36, 0.63, 0.84, 1.58);
    background: black;
  }

  @keyframes animate-fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .topnav.responsive a:nth-child(5) {
    display: none;
  }

  .topnav.responsive a.icon {
    display: none;
  }

  .topnav.responsive a.close-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: 60px;
    background: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
  }

  .topnav.responsive a.close-icon img {
    margin-top: -3px;
  }

  .topnav.responsive a {
    float: none;
    display: flex;
    color: gold;
    justify-content: center;
    border-bottom: 1px solid;
    margin-left: 30px;
    margin-right: 30px;
    background: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image-source: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
    border-image-slice: 1;
  }

  .topnav.responsive .active {
    background: linear-gradient(to right, #a17a2f, #ddbb8b, #a17a2f);
    -webkit-text-fill-color: black;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: none;
  }

  .topnav.responsive .active::after {
    content: none;
  }

  .topnav .responsive .nav-logo {
    display: none;
  }

  #nav-logo img {
    margin-top: -55px;
  }

  .topnav .responsive .responsive-logo {
    display: flex;
    float: center;
  }
  /* navbar end */

  /* hero start */
  #hero .container .row h5 {
    font-size: 24px;
  }

  #hero .container .row h1 {
    font-size: 40px;
  }
  #hero .container .row p {
    font-size: 16px;
  }
  /* hero end */

  /* about start */
  .about-title h5 {
    font-size: 20px;
    text-align: left;
  }

  .about-title h2 {
    font-size: 32px;
    text-align: left;
  }

  #about .container .row p {
    font-size: 14px;
  }
  /* abot end */
}
/* responsif tablet end */

/* respomsif phone start */
@media screen and (max-width: 768px) {
  /* navbar start */
  #hero1 {
    margin-top: 450px;
    padding: 20px 30px;
  }
  #hero1 button {
    width: 100%;
  }
  #hero2 {
    margin-bottom: 50px;
  }
  #hero2 img {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 0;
    top: 0;
    top: -750px;
  }
  /* navbar end */

  /* hero start */
  #hero .container .row h5 {
    font-size: 20px;
  }

  #hero .container .row h1 {
    font-size: 24px;
  }
  #hero .container .row p {
    font-size: 12px;
  }
  /* hero end */

  /* about start */
  #about .container {
    padding: 0 20px;
  }

  .about-title h5 {
    font-size: 16px;
  }

  .about-title h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  #about .container .row p {
    font-size: 12px;
  }
  /* about end */
}

@media screen and (max-width: 450px) {
  #hero1 {
    margin-top: 275px;
  }
  #hero2 img {
    top: -600px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* responsif phone end */

#content4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #ffff;
  margin-top: 10vh;
}
#content4 {
  h1 {
    font-weight: 700;
  }
  h4 {
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
  }
  h3 {
    font-family: "Crimson Text", serif;
    font-weight: 700;
  }
  #congrats h1 {
    font-family: "Crimson Text", sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 3px;
  }
  #congrats .badge {
    font-family: "Crimson Text", sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    padding: 12px 40px;
    letter-spacing: 1px;
    background: #901565;
  }
  .gradient {
    font-family: "Crimson Text", serif;
    background: radial-gradient(circle at center, #ddbb6b, #a17a2f);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
  }
  .gold-icon {
    background: radial-gradient(circle at center, #ddbb6b, #a17a2f);
    -webkit-background-clip: text;
    color: transparent;
    margin-right: 8px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  #congrats {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  #content4 #congrats h1 {
    font-size: 64px;
  }
}
@media (max-width: 767px) {
  #content4 .container {
    padding: 20px;
  }
  #content4 #congrats {
    text-align: center;
    align-items: center;
  }

  #content4 #congrats .row {
    align-items: center;
    padding: 0% !important;
    margin: 0 !important;
  }
  #content4 #congrats h1 {
    font-size: 24px;
  }
  #content4 #congrats .badge {
    width: inherit;
  }

  #congrats h6,
  #congrats h4,
  #congrats h2,
  #congrats h3,
  #congrats h6 {
    text-align: center;
    justify-content: center;
  }
}

#content5 {
  margin-top: 10vh;
  color: white;
}
#content5 {
  .gradient {
    font-family: "Crimson Text", serif;
    background: radial-gradient(circle at center, #ddbb6b, #a17a2f);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
  }
}
@media (max-height: 998px) {
  #content5 #heading5 {
    text-align: start !important;
  }
}
#content6 {
  margin-top: 10vh;
  color: white;
}
#content6 {
  .rotating-image {
    animation: rotate 50s linear infinite;
  }
  .gradient {
    font-family: "Crimson Text", serif;
    background: radial-gradient(circle at center, #ddbb6b, #a17a2f);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
  }

  .gold-icon {
    background: radial-gradient(circle at center, #ddbb6b, #a17a2f);
    -webkit-background-clip: text;
    color: transparent;
    margin-right: 8px;
  }
  .slider {
    position: relative;
    display: grid;
    place-items: center;
  }
  .corousel {
    display: flex;
    width: calc(280px * 10);
    padding: 20px 0;
    animation: scroll 20s linear infinite;
  }
  .slide {
    height: 370px;
    width: 100%;
    align-items: center;
    padding: 15px 0;
    perspective: 300px;
  }

  .slider::before {
    left: 0;
    top: 0;
  }

  .slider::after {
    right: 0;
    top: 0;
  }

  .slide img {
    width: 100%;
    transition: transform 1s;
  }
  .slide img:hover {
    transform: translateZ(20px);
  }

  .corousel:hover {
    animation-play-state: paused;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 5));
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
