@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://db.onlinewebfonts.com/c/ead4092f880f75ff0883ced1856b2c37?family=SF+Pro+Rounded+Regular");

body {
  font-family: "Poppins";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100wh;
}

#background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
